@use "variables" as v;

.submit-input {
    width: 813px;
    height: 60px;
    margin: 0 auto;
    background-color: v.$blue-color;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 37px;
    margin-bottom: 100px;
    font-family: "gillS";
    align-items: center;
    
}



@media screen and (max-width: 840px) {
   
.submit-input {
    width: 700px;
}


}