//these are the widths and heights of the site
$content-width: 1280px;
$about-content-width: 980px;
$nav-width: 980px;
$min-height: 500px;

$quote-height: 150px;

$photo-container-height: 500px;

//these are the colors of the site

$blue-color: #79ADDC;

//three-divs
$three-divs-width: 236px; 
$three-divs-height: 304px;


